body{
    background-color: rgb(14, 23, 84);
}
.nav-top{
    height: 15vh;
    /* background-color: rgb(10, 16, 64); */
}
.nav-phone{
    top: 0px;
    left: 0px;
    position: absolute;
    min-height: 100vh;
    background-color: rgb(10, 16, 64);

}